<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
 
<suite name="single device all-test suite" >
	<test name="FundTransfer" >
		<classes>
			<class name="fundtransfer.TransferInbank" />
			<class name="fundtransfer.Schedule_TransferInbank" />
			<class name="fundtransfer.TransferOtherbank" />
			<class name="fundtransfer.Schedule_TransferOtherbank" />
		</classes>
	</test>
</suite>